/* *{
    border: 1px solid red;
  }
   
body {
  border: 2px dashed green;
} */
body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: #ffffff;
  /* max-width: 1440px; */
  /* margin: 0 auto; */
}

.ham {
  display: none;
}
.banner-image {
  display: none;
}
.width {
  /* max-width: 1060px; */
  width: 75%;
  margin: 0 auto;
}
section {
  margin-bottom: 100px;
}
.title {
  color: rgb(255, 255, 255);

  font-size: 62px;
  font-weight: 900;
}
h2 {
  margin: 0;
  padding: 0;
}
p {
  color: rgba(255, 255, 255, 0.5);

  font-size: 20px;
  font-weight: 400;
}

/*-------------  nav style starts from here  ----------------- */
header {
  margin-top: 50px;
  background: linear-gradient(#111111, rgba(49, 47, 47, 0.5), black);
}
nav {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 3.5rem; */
}
.logo {
  /* border: 2px solid red; */
  color: rgb(230, 83, 60);
  font-size: 48px;
  font-weight: 800;
}
.nav-items {
  /* border: 2px solid red; */
  width: 43%;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.5rem;
}
.nav-links li {
  margin: 0;
}
.nav-links .con {
  margin: 0 40px 0 47px;
}
.nav-links a {
  /* border: 2px solid red; */
  text-decoration: none;
  padding: 13px 0;
  margin: 0px 10px;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 300;
}
.nav-links a.home {
  padding: 13px 30px;
  border-radius: 2.8rem;
  background: rgb(230, 83, 60);
  margin: 3px;
  font-weight: 600;
  margin-right: 47px;
}
.nav-links a.abt {
  padding: 13px 20px;
}

/*-------------  nav style ends here  ----------------- */

/*-------------  banner style starts from here  ----------------- */
.banner-container {
  border: 0.001px dotted rgba(17, 17, 17, 0.5);
}
.banner {
  border: 0.001px dotted rgba(17, 17, 17, 0.5);

  text-align: center;
  padding-top: 32px;
  border-radius: 10px;
  width: 75%;
  margin: 0 auto;

  background-image: url(./images/Images\ 2.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 34%;
}

.banner-content-text {
  /* border: 2px solid rgb(255, 0, 170); */
  text-align: left;
  margin-top: 64px;
  margin-bottom: 76px;
  width: 50%;
}
.banner-content-text p {
  margin-bottom: 30px;
}
.banner h1 {
  /* border: 2px solid red; */
  margin: 0;
  padding: 0;

  color: rgb(255, 255, 255);
  font-size: 98px;
  font-weight: 900;
}

.h1-first {
  position: relative;
  bottom: -60px;
}
.different-font {
  font-family: "Miama";
  font-weight: 400;
  font-size: 200px;
  position: relative;
  z-index: 1;
}
.normal {
  position: relative;
  top: -100px;
  z-index: 0;
}
.banner p {
  /* border: 2px solid red; */
  margin-top: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  /* margin-bottom: 30px; */
}

.banner-buttons {
  /* border: 2px solid red; */

  padding: 16px 0;
}

.banner-buttons .btn {
  border: none;
  text-decoration: none;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  padding: 22px 60px;
}

.banner-buttons .dwn {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  background-color: #111111;
  margin-left: 10px;
}

.box {
  position: absolute;

  padding: 15px 20px 0 20px;
  border-radius: 12px;
  color: white;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.box p {
  font-size: 1.5em;
  font-weight: 300;
}
.top-right {
  top: 30%;
  right: 7%;
  background: rgba(255, 255, 255, 0.1);
  background-blend-mode: overlay;
  align-items: center;
}

.bottom-left {
  bottom: 12%;
  left: 56%;

  background: rgba(48, 48, 48, 0.54);
}

.circle {
  width: 50px;
  height: 50px;
  background: rgb(230, 83, 60);
  border-radius: 100%;
  margin-right: 10px;
  margin-bottom: 19px;
}
.trianle {
  font-size: 34px;
  margin-left: 10px;
  margin-top: 10px;
}
.three {
  font-size: 1.8em;

  font-weight: 700;
  color: rgb(255, 255, 255);
}
.five {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2.5em;
  font-weight: 900;
}

/*-------------  banner style ends here  ----------------- */

/*-------------  habit style starts from here  ----------------- */
.habits-container {
  /* border: 2px solid red; */
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}
.habit-text {
  padding: 0 290px;
}
.habit-list {
  /* border: 2px solid red; */
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.habit h3 {
  margin: 0;
  margin-top: 30px;
  font-size: 28px;
  font-weight: 600;
}
.habit p {
  margin: 0;
  margin: 10px;
}
.habit img {
  border-radius: 150px;
  width: 80%;
}

/*-------------  habit style ends here  ----------------- */

/*-------------  mile style starts from here  ----------------- */
.mile {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 650px 100px 300px;
  /* display: flex;
  justify-content: space-between; */
  border-radius: 18px;

  background: rgb(34, 34, 34);
  margin-bottom: 100px;
}

.mile-image img {
  /* border: 2px solid red; */
  max-width: 466px;
  height: 370px;

  border-radius: 18px;
  margin: 30px;
  margin-left: 165px;
  object-fit: none;
  object-position: 68% 33%;
}

.second-btn {
  /* border: 2px solid red; */
  text-decoration: none;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-weight: 600;
  padding: 16px 82px;
  margin-top: 64px;
}
.mile-content {
  /* border: 2px solid red; */
  margin-top: 40px;
  margin-left: 80px;
  margin-bottom: 40px;
}
.mile-content p {
  margin-top: 14px;
  margin-bottom: 58px;
}
.mile-content h2 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 65px;
  font-weight: 900;
  padding-right: 100px;
}

/*-------------  mile style ends here  ----------------- */

/*-------------  bmi style starts from here  ----------------- */

.bmi {
  /* border: 2px solid red; */
  background: rgb(34, 34, 34);
  margin-bottom: 100px;
}

.bmi-contents {
  /* border: 2px solid red; */
  justify-content: center;
  text-align: left;
  align-items: center;
  margin-bottom: 88px;
  padding-left: 300px;
}
.bmi-contents h2 {
  margin: 0;
  padding: 0;
}

.bmi-container h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 28px;
  font-weight: 900;
}
.bmi-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  background: rgb(34, 34, 34);
  /* width: 70%; */
  padding-bottom: 50px;
}

.bmi-calculator {
  /* border: 5px solid wheat; */
}
.bmi-form {
  /* border: 9px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  /* max-width: 0px; */
}
.bmi-form input,
.bmi-form select {
  padding: 12px 40px 12px 20px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);

  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.bmi-form option {
  color: white;
  background: rgba(0, 0, 0, 0.726);
}
.bmi-form .full-width {
  grid-column: span 2;
}
.bmi-form .btn {
  border-radius: 40px;
  border: none;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 40px;
  margin-right: 70px;
}

table {
  border-collapse: collapse;
  width: 120%;
}

table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
th {
  color: rgb(255, 255, 255);

  font-size: 16px;
  font-weight: 500;
}
td {
  color: rgba(255, 255, 255, 0.5);

  font-size: 14px;
  font-weight: 400;
}

th,
td {
  padding: 15px;
  text-align: left;
}

/*-------------  bmi style ends here  ----------------- */

/*-------------  team style starts from here  ----------------- */

.team-container {
  /* border: 2px solid red; */
  text-align: center;
  margin-bottom: 100px;
}
.team-container h2 {
  color: rgb(255, 255, 255);

  font-size: 65px;
  font-weight: 900;
}
.team-container p {
  /* border: 2px solid red; */
  margin: 20px 250px 60px;
}
.team-list {
  /* border: 2px solid white; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.082);

  margin-top: 50px;
}

.team-member img {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
  border-radius: 18px;
}
.team-member {
  position: relative;
  overflow: hidden;
  text-align: left;
  /* max-width: 350px; */
  height: 350px;
  z-index: 0;
}

.team-member h3,
.team-member p {
  position: absolute;
  padding: 5px 20px;
  margin: 0;
}

.team-member h3 {
  bottom: 35px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 900;
}

.team-member p {
  bottom: 10px;
}
/*-------------  team style ends here  ----------------- */

/*-------------  workout style starts from here  ----------------- */

.workout-container {
  /* border: 2px solid red; */
  margin: 0, auto;
  margin-bottom: 100px;
}

.workout-content {
  align-items: center;
  text-align: center;
  margin: 0, auto;
}
.workout-content h2 {
  color: rgb(255, 255, 255);
  font-size: 65px;
  font-weight: 900;
}
.workout-content p {
  /* border: 2px solid red; */
  margin: 20px 250px 60px;
}
.day-container {
  /* border: 1px solid #ddd; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

.day-container .day {
  /* border: 10px solid #2dd695; */
  background-color: #111111;
  border: 1px solid #a57c7c;
  padding: 30px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

.day.active {
  /* border: 1px solid #a57c7c; */
  color: #e02626;
  background-color: #eed9dc;
}

.days button:hover {
  background-color: black;
}

.arrow {
  border: solid rgb(238, 228, 228);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.completed {
  /* border: solid rgb(238, 228, 228); */
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.completed h2 {
  color: white;
  font-family: "Miama";
  font-size: 35px;
  font-weight: 600;
}

.workouts-container {
  /* border: 2px solid rgba(35, 17, 194, 0.822); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: rgb(34, 34, 34);
  gap: 40px;
  padding: 40px;
}

.workout {
  /* border: 2px solid rgb(29, 17, 194); */
  display: flex;
  align-items: center;
  padding: 30px 40px;
  border-radius: 30px;
  background-color: #111111;
}
iframe {
  border-radius: 20px;
}
.workout:hover {
  background-color: black;
}

.workout .info {
  padding: 20px;
}

.workout .info h3 {
  margin: 0;
  font-size: 28px;
}

.workout .info p {
  margin: 5px 0;
  color: #666;
}

/*-------------  workout style ends here  ----------------- */

/*-------------  footer style starts from here  ----------------- */
footer {
  background: rgba(34, 34, 34, 1);
}
footer h3 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}
.footer-container {
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 66px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-container li {
  list-style: none;
  margin: 20px 0px;
}
.footer-left h1 {
  margin: 0;
  padding: 0;
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 90px;
  font-weight: 800;
  margin-right: 290px;
}
.footer-left p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  margin-right: 200px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-middle a,
.footer-right a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 28px;
  font-weight: 400;
}
hr {
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
}
/*-------------  footer style ends here  ----------------- */

/* -----------------------------    mobile  ----------------------------------------------------------- */

@media screen and (max-width: 576px) {
  body {
    width: 96%;
    margin: 0 auto;
  }
  .title {
    color: rgb(255, 255, 255);

    font-size: 32px;
    font-weight: 900;
  }
  p {
    font-size: 15px;
  }
  .width {
    width: 100%;
  }
  .nav-items {
    width: 7%;
  }
  .nav-links {
    display: none;
  }
  .ham {
    display: block;
  }

  .banner-content {
    padding: 0;
    flex-direction: column;
    text-align: left;
  }
  .banner {
    width: 100%;
    background: none;
    background-size: 100%;
    background-position: bottom left;
  }
  .banner-image {
    display: block;
  }
  .banner-image img {
    width: 100%;
  }
  .banner-content-text {
    width: 100%;
  }
  .banner-content-text h1 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 900;
  }
  .banner p {
    font-size: 16px;
  }
  .h1-first {
    bottom: -25px;
  }
  .different-font {
    font-size: 80px;
  }
  .normal {
    top: -35px;
  }
  .banner-content-text p {
    margin-right: 50px;
  }
  .box {
    /* padding-top: 25px; */
  }
  .box p {
    font-size: 0.6rem;
    font-weight: 300;
  }
  .top-right {
    top: 87%;
    right: 12%;
  }

  .bottom-left {
    bottom: -30%;
    left: 8%;
  }

  .circle {
    width: 30px;
    height: 30px;
  }
  .trianle {
    font-size: 14px;
    margin: 0;
    margin-left: 5px;
    margin-top: 15px;
  }
  .three {
    font-size: 1.1rem;

    font-weight: 700;
    color: rgb(255, 255, 255);
  }
  .five {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.7rem;
    font-weight: 900;
  }

  .banner-buttons .btn {
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
  }

  .habit-text {
    padding: 0 40px;
  }

  .habit h3 {
    margin: 0;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
  }
  .habit p {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0 40px;
    margin: 0 60px;
  }
  .habit-list {
    /* border: 2px solid red; */
    flex-direction: column;
  }

  .habit img {
    border-radius: 100px;
    width: 50%;
  }

  .mile {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
  }

  .mile-image img {
    max-width: 80%;
    height: 50%;
    align-items: center;
    margin-left: 40px;
    margin-top: 0;
    object-fit: contain;
  }
  .mile-content {
    margin: 0;

    padding: 40px;
  }
  .mile-content h2 {
    font-size: 35px;
  }

  .second-btn {
    padding: 16px 109px;
  }

  .bmi-container {
    display: flex;
    flex-direction: column;
  }
  .bmi-contents {
    /* border: 2px solid red; */
    justify-content: center;
    text-align: left;
    align-items: center;
    margin-bottom: 88px;
    padding-left: 0;
  }

  .bmi-form {
    width: 50%;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  .bmi-calculator {
    /* border: 5px solid wheat; */
  }
  .bmi-form .btn {
    border-radius: 40px;
    border: none;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    padding: 16px 40px;
    margin-right: 70px;
  }

  .team-container {
    width: 90%;
  }
  .team-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-container h2 {
    margin: 5px 20px;
    font-size: 40px;
  }
  .team-container p {
    margin: 10px 20px;
  }

  .team-member h3 {
    font-size: 20px;
  }

  .workouts-container {
    grid-template-columns: repeat(1, 1fr);

    gap: 30px;
    padding: 20px;
  }
  .workout-content h2 {
    font-size: 37px;
    margin: 5px 15px;
  }
  .workout-content p {
    margin: 5px 25px;
  }
  .day-hide {
    display: none;
  }
  .workout {
    /* border: 2px solid rgb(32, 194, 17); */

    flex-direction: column;

    padding: 20px 40px;
    border-radius: 30px;
  }
  .completed {
    /* border: solid rgb(238, 228, 228); */

    flex-direction: column;
  }

  .day-container .day {
    padding: 18px;

    font-size: 15px;
  }
  .completed h2 {
    font-size: 20px;
  }

  .footer-container {
    /* border: 2px solid red; */
    width: 90%;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer h3 {
    font-size: 35px;
  }
  .footer-middle a,
  .footer-right a {
    font-size: 20px;
    font-weight: 400;
  }

  .footer-left h1 {
    margin: 0;
    padding: 0;

    font-size: 70px;

    margin-right: 0;
  }
  .footer-left p {
    font-size: 16px;

    margin-right: 20px;
  }

  hr.short {
    width: 90%;
    margin: 0 auto;
  }
  .copyright {
    font-size: 22px;
  }
}
