body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}

/* nav style starts from here */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
  border: 2px solid red;
}
.logo {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
  }
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.5rem;
}
.nav-links li {
  margin: 0;
}
.nav-links a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
}
.nav-links a.home {
  border-radius: 2.8rem;
  background: rgb(230, 83, 60);
  margin: 3px;
  font-weight: 600;
}

